@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@charset "UTF-8";
	
	#header {
		background: rgba(4, 40, 68, 0.85);
		color:white;
		text-align:center;
		padding:10px;
	}
	#header-inside {
		background-image: url(../images/headerbanner.png);
		background-size: 950px;
		background-repeat: no-repeat;
		width: 1000px;
		height: 100px;
		margin: auto;
		position: relative;
	}
	#logo{
		float: left;
		padding-top: 0px;
		padding-left: 450px;
		position: absolute;
	}
	img {
		border: none;
	}
	#navi {
		height: 67px;
		width: 1024px;
		padding-top: 75px;
		padding-left: 270px;
		position: absolute;
	}

	#navi ul
	{
		text-align: left;
		margin: auto;
		width: 1024px;
	}

	#navi ul li
	{
		display: inline;
		padding: 0px;
		margin: 0px;
	}
	a:link{color:white;}
	a:visited{color:white;}
	#footer {
		position:absolute;
		bottom:0;
		width:100%;
		height:60px;			/* Height of the footer */
		background: rgba(4, 40, 68, 0.85);
		color:white;
		text-align:center;
		clear:both;
	}
	#nav {
	    line-height:40px;
	    background-color:grey;
	    height:462px;
	    width:100px;
	    float:left;
	    padding:5px;
	}
