<style>
#headr {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#navigator {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px; 
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
</style>